.emojis 
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
h1.keys
  span.key data-key="77" = "M"
  span.key data-key="85" = "u"
  span.key data-key="88" = "x"
  span.key data-key="85" = "u"
  span.key = "."
  span.key data-key="80" = "P"
  span.key data-key="73" = "i"
  span.key data-key="90" = "z"
  span.key data-key="90" = "z"
  span.key data-key="65" = "a"
p = "Come on, play drums with your keyboard."
.emojis 
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
h3 
  = "195 rue Guillaume Leblanc"
  br 
  br 
  = "33000 Bordeaux"
.emojis 
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
h3#countdown
.emojis 
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
  h2 = "🍕"
    
audio data-key="77" src="sounds/clap.wav" 
audio data-key="85" src="sounds/hihat.wav" 
audio data-key="88" src="sounds/kick.wav" 
audio data-key="80" src="sounds/openhat.wav" 
audio data-key="73" src="sounds/boom.wav" 
audio data-key="90" src="sounds/ride.wav" 
audio data-key="65" src="sounds/snare.wav" 
